{% block content %}
		<div class="row">
          <div class="large-12 columns">

            <div class="hide-for-small">
              <div id="featured">
                    <img src="{{ "front.jpg" | asset_url }}" alt="slide image">   
                </div>
              </div>

          <div class="row">
            <div class="small-12 show-for-small"><br>
              <img src="{{ "front.jpg" | asset_url }}"/>
            </div>
          </div>
          </div>
        </div><br>

        <div class="row">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-9 columns">
                <div class="row">
					<div class="large-6 small-6 columns">
					  <h1>Heading</h1><hr/>
					  <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.</h5>
					</div>
					<div class="large-6 small-6 columns panel">
					  <p>Suspendisse ultrices ornare tempor. Aenean eget ultricies libero. Phasellus non ipsum eros. Vivamus at dignissim massa. Aenean dolor libero, blandit quis interdum et, malesuada nec ligula. Nullam erat erat, eleifend sed pulvinar ac. Suspendisse ultrices ornare tempor. Aenean eget ultricies libero.</p>
					</div>
				</div>
              </div>
      
            </div>
          </div>
        </div>
{% endblock %}